{% extends 'rogueapp/base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'faqs' %}">FAQs</a></li>
  </ol>
</nav>
<h1 class="">Frequently Asked Questions</h1>
<ul class="faq-list">
  <li class="mb-4">
    <h2 class="card-header mb-3 faq-q">What is the purpose of this site?</h2>
    <p>As stated on the home page, RogueLists is a Django-based project that uses web-scraped data to populate and update a database of game info of games on Steam under the term "roguelike". The purpose of this site is to invite users to create and share lists of particular games. These lists can be used to create personal tier lists, create watch-lists for upcoming games, or simply to browse and look for any new games they may enjoy.</p>
  </li>
  <li class="mb-4">
    <h2 class="card-header mb-3 faq-q">Where should I start?</h2>
    <p>Feeling a little confused? The best way to browse and discover new games is to check out the <strong><a href="{% url 'all_genres' %}" title="Tags/Genres">tags</a></strong>, where you can browse games by genre. Each genre in the search can lead you to the discovery of a new game.</p>
  </li>
  <li class="mb-4">
    <h2 class="card-header mb-3 faq-q">How do I make a list?</h2>
    <p>At the moment, making a list is limited only to registered users. To create a list, find a game you want to add to the list and click the "Add to List" button, from there you will be prompted to fill in the name and description of your newly created list.</p>
  </li>
  <li class="mb-4">
    <h2 class="card-header mb-3 faq-q">What does "roguelike" mean?</h2>
    <p>The term "roguelike" originally referred to a type of video game that was inspired by the 1980 game "Rogue". These games typically feature randomly generated levels, permadeath (meaning the player character dies permanently and the game must be restarted), turn-based gameplay, and an emphasis on exploration and strategy.</p>
    <p>Over time, the definition of a roguelike has broadened to include games that may not meet all of the original criteria but still share some of the core elements. For example, some modern roguelikes may have real-time gameplay or a persistent world, but they still prioritize procedural generation, difficulty, and permadeath.</p>
  </li>
  <li class="mb-4">
    <h2 class="card-header mb-3 faq-q">Why only roguelike games?</h2>
    <p>This website was created with very little experience in this field to begin with. The phrase "Don't bite off more than you can chew" rings very true for this. The roguelike genre was large enough to work with a good amount of data, but small enough to not be as punishing for an intermediate developer.</p>
  </li>
  <li class="mb-4">
    <h2 class="card-header mb-3 faq-q">How is this data acquired?</h2>
    <p>Data for this site is acquired through a daily sweep using a Python script that searches Steam with the term "roguelike", which then is sent to the database where it will update prices or add new games.</p>
  </li>
  <li class="mb-4">
    <h2 class="card-header mb-3 faq-q">Have a question/comment or found a bug?</h2>
    <p>Questions, Comments or Bug Reports? <a href="https://forms.gle/iSRG3Mz3FSD1sQLt5" target="_blank"><br><strong>Let us know through this form!</strong></a></p>
  </li>
  <li class="mb-4">
    <h2 class="card-header mb-3 faq-q">Can you add <em>X</em> game?</h2>
    <p>Requests for games to be added will be considered once the site is more stable.</p>
  </li>
</ul>
{% endblock %}
