{% extends 'rogueapp/base.html' %}

{% block content %}
<div class="container">
  <div class="mb-3 text-end">
    {% if request.user.is_authenticated %}
    <a href="#my-list-h2">My Lists</a> |
    {% endif %}
    {% if followed_users %}
    <a href="#fol-user-h2">Followed Users</a> |
    <a href="#new-fol-h2">Followed Users Lists</a> |
    {% endif %}
    <a href="#new-h2">Newest Lists</a> |
    <a href="#pop-h2">Popular Games</a>
  </div>
  <div class="row col-md-12 col-lg-9 list-holder" id="home-page">
    {% if list_previews %}
    <div class="card" id="descript-card">
      <div class="card-heading">
        <h1 class="p-2">RogueLists</h1>
      </div>
      <div class="card-body">
        <p class="text-left">RogueLists is a proof of concept project designed to create and rank games found on Steam under the <a href="https://en.wikipedia.org/wiki/Roguelike" target="_blank"><em>roguelike</em></a> genre. Users are able to create and share lists with others and even follow others so that they can see any future lists they create. </p>
        <p class="text-left">RogueLists is still young and is being worked on to improve your experience. Pricing is updated daily at 04:00 UTC.</p>
        <p class="text-center">Feeling a little confused?<br>Check out our <strong><a href="{% url 'faqs' %}">FAQs</a></strong>
      </div>
    </div>
    <div class="list-holder text-center" id="home-flex">
      {% if request.user.is_authenticated %}
      <h2 class="col-12 collapsed" data-bs-toggle="collapse" data-bs-target="#my-lists" title="Show/Hide" id="my-list-h2">My Lists</h2>
      <div id="my-lists" class="row content show">
        <div class="row content show">
          <div class="row" id="list-flex">
            {% for list_preview in list_previews %}
            {% if list_preview.list.list_owner == request.user %}
            <div class="col-md-6 mb-4">
              {% include 'rogueapp/show_lists.html' %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <hr>
      <br>

      {% if followed_users %}
      <div class="row">
        <h2 class="col-12 collapsed" data-bs-toggle="collapse" data-bs-target="#f-users" title="Show/Hide" id="fol-user-h2">Followed Users</h2>
        <div id="f-users" class="row content show">
          {% for followed_user in followed_users %}
          <div class="col-md-6 mb-4">
            <a href="{% url 'user_profile' user_id=followed_user.id %}">
              <h3 class="card pt-3">{{ followed_user.username }}</h3>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <h2 class="col-12 collapsed w-75" data-bs-toggle="collapse" data-bs-target="#f-lists" title="Show/Hide" id="new-fol-h2">Followed User Lists</h2>
        <div id="f-lists" class="row content show">
          {% for list_preview in list_previews %}
          {% if list_preview.list.list_owner in followed_users %}
          <div class="col-md-6 mb-4">
            {% include 'rogueapp/show_lists.html' %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div class="row">
        <h2 class="col-12 collapsed w-50" data-bs-toggle="collapse" data-bs-target="#f-lists" title="Show/Hide" id="fol-list-h2">Followed Lists</h2>
        <div id="f-lists" class="row content show">
          <p class="text-center">You are not following any users.</p>
        </div>
      </div>
      {% endif %}

      <hr>
      <br>
      {% endif %}
      {% endif %}

      <div class="row">
        <h2 class="collapsed" data-bs-toggle="collapse" data-bs-target="#unauth-lists" title="Show/Hide" id="new-h2">Newest Lists</h2>
        <div id="unauth-lists" class="row content show">
          <div class="row content show">
            {% for new_list_preview in new_list_previews %}
            <div class="col-md-6 mb-4">
              {% include 'rogueapp/show_new_lists.html' %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <hr>

      <div class="row mt-2">
        <h2 class="collapsed" data-bs-toggle="collapse" data-bs-target="#popular-games" title="Show/Hide" id="pop-h2">Popular Games</h2>
        <div id="popular-games" class="row content show">
          {% include 'rogueapp/show_games.html' %}
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
