{% extends 'rogueapp/base.html' %}

{% block content %}
<div class="container">
  <div class="row" id="home-flex">
    <div class="row col-md-8" id="home-page">
      {% if list_previews %}
      {% if request.user.is_authenticated %}
      <h2 class="collapsed" data-bs-toggle="collapse" data-bs-target="#my-lists" title="Show/Hide">My Lists</h2>
      <div id="my-lists" class="row content show">
        <div class="row content show">
          <div class="row" id="list-flex">
            {% for list_preview in list_previews %}
            {% if list_preview.list.list_owner == request.user %}
            <div class="col-md-6 mb-4">
              {% include 'rogueapp/show_lists.html' %}
            </div>
              {% endif %}
            {% endfor %}
          </div>

        </div>
      </div>
      <hr>
      <br>

      {% if followed_users %}
      <h2 class="collapsed" data-bs-toggle="collapse" data-bs-target="#f-lists" title="Show/Hide">Followed Users' Lists</h2>
      <div id="f-lists" class="row content show">
        <div class="row content show">
          {% for list_preview in list_previews %}
          {% if list_preview.list.list_owner in followed_users %}
          <div class="col-md-4 mb-4">
            {% include 'rogueapp/show_lists.html' %}
          </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% else %}
      <p>You are not following any users.</p>
      {% endif %}
      <hr>
      <br>
      {% endif %}
      {% endif %}

      {% if request.user.is_authenticated %}
      <h2 class="collapsed" data-bs-toggle="collapse" data-bs-target="#unauth-lists" title="Show/Hide">Recent Lists</h2>
      <div id="unauth-lists" class="row content show">
        <div class="row content show">
          {% for list_preview in list_previews %}
          <div class="col-md-4 mb-4">
            {% include 'rogueapp/show_lists.html' %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <h2 class="collapsed" data-bs-toggle="collapse" data-bs-target="#unauth-lists" title="Show/Hide">Recent Lists</h2>
      <div id="unauth-lists" class="row content show">
        <div class="row content show">
          {% for list_preview in list_previews %}
          <div class="col-md-4 mb-4">
            {% include 'rogueapp/show_lists.html' %}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const collapsedHeaders = document.querySelectorAll('#home-page h2.collapsed');
    for (let header of collapsedHeaders) {
      header.classList.remove('collapsed');
      header.classList.add('show');
    }
  });
</script>
{% endblock %}
