<div class="remove-container position-relative">
  <a href="#" id="remove-from-list" class="btn btn-sm btn-link text-danger position-absolute top-0 mt-2 my-1 end-0 rounded-circle" data-bs-toggle="modal" data-bs-target="#confirmRemoveModal" data-toggle="tooltip" title="Remove Game From List">
    <i class="fas fa-times"></i>
  </a>
</div>

<div class="modal fade" id="confirmRemoveModal" tabindex="-1" aria-labelledby="confirmRemoveModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmRemoveModalLabel">Confirm Game Removal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this game from the list?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="{% url 'remove_game' pk=detail.list_detail_content_id %}" class="btn btn-danger">Remove Game</a>
      </div>
    </div>
  </div>
</div>