{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'rogueapp/images/rogue-logo.png' %}" alt="RogueLists Logo" id="main-logo">RogueLists</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if request.user.is_authenticated and request.user.userlist_set.all%}
        <li class="nav-item dropdown">
          <a class="btn m-2 text-white nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Lists
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for user_list in request.user.userlist_set.all %}
            <li><a class="dropdown-item" href="{% url 'list_detail' list_id=user_list.list_id %}">{{ user_list.list_name }}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="btn m-2 nav-link text-white" href="{% url 'all_genres' %}">Tags</a>
        </li>
        <li class="nav-item">
          <a class="btn m-2 nav-link text-white" href="{% url 'users' %}">Users</a>
        </li>
        <li class="nav-item">
          <a class="btn m-2 nav-link text-white" href="{% url 'faqs' %}">FAQs</a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="btn m-2 nav-link text-white" href="{% url 'admin:index' %}">Admin</a>
        </li>
        {%endif %}

      </ul>

    <ul class="navbar-nav me-1 text-center align-items-center">
      {% if request.user.is_authenticated %}
        <li class="nav-item align-items-center text-white text-center">
          Logged in as&nbsp;<a id="log-message" href="{% url 'user_profile' user_id=request.user.id %}" class="pe-2">{{ request.user }}</a>
        </li>
        <li class="nav-item align-items-center text-white text-center"><a class="btn m-2 p-2 nav-link text-white mx-auto" href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li class="nav-item align-items-center text-white text-center">
          <a class="btn m-2 p-2 nav-link text-white" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item align-items-center text-white text-center">
          <a class="btn m-2 p-2 nav-link text-white" href="{% url 'register_user' %}">Register</a>
        </li>
      {% endif %}
      <li class="nav-item align-items-center text-white text-center m-2">
        <form class="d-flex nav-link" method="GET" action="{% url 'search' %}">
          <input type="search" class="form-control me-2" placeholder="Search Games" aria-label="Search" name="searched">
          <button class="btn p-2 btn-outline-secondary nav-link text-white" type="submit">Search</button>
        </form>
      </li>
    </ul>


    </div>
  </div>
</nav>
