{% extends 'rogueapp/base.html' %}

{% block content %}
<center>
  <br>
  {% if searched %}
  <h1>Search Results: <em>{{searched}}</em></h1><br>
  {% else %}
  <h1>Search Games</h1>
  {% endif %}
  <form method="GET" action="{% url 'search' %}?{% if searched != 'None' %}searched={{ searched }}&{% endif %}" class="input-group mb-3">
    {% csrf_token %}
    {% if searched == None %}
    <input type="search" class="form-control" placeholder="Search Games" aria-label="Search" name="searched">
    {% else %}
    <input type="search" class="form-control" placeholder="Search Games" aria-label="Search" name="searched" value="{{ searched }}">
    {% endif %}
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>
  <br>
  <form method="GET" action="{% url 'search' %}?{% if searched != 'None' %}searched={{ searched }}&{% endif %}" id="filter-form">
    <div class="row justify-content-center" id="filters-container">
      <div class="col-sm-6 col-md-4">
        <label for="price_range">Price range:</label>
        <div class="input-group">
          <input type="number" name="min_price" id="min_price" placeholder="Min" class="form-control" value="{{ min_price }}">
          <span class="input-group-text">-</span>
          <input type="number" name="max_price" id="max_price" placeholder="Max" class="form-control" value="{{ max_price }}">
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <label for="release_date_range">Release date range:</label>
        <div class="input-group">
          <input type="date" name="min_release_date" id="min_release_date" placeholder="Earliest" class="form-control" value="{{ release_date_start|date:'Y-m-d' }}">
          <span class="input-group-text">-</span>
          <input type="date" name="max_release_date" id="max_release_date" placeholder="Latest" class="form-control" value="{{ release_date_end|date:'Y-m-d' }}">
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        {% if searched != 'None' %}
        <input type="hidden" name="searched" value="">
        {% else %}
        <input type="hidden" name="searched" value="{{ searched }}">
        {% endif %}
        <button type="submit" class="btn btn-secondary btn-block mt-auto">Filter</button>
      </div>
    </div>
  </form>





  <div class="container">
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 justify-content-around">
      {% for game in games %}
      <div class="card m-2">
        <a href="https://store.steampowered.com/app/{{game.steam_id}}"><img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{game.steam_id}}/capsule_231x87.jpg" class="card-img-top pt-2">
          <div class="card-body">
        </a>
        <h4 class="card-title text-md-center"><a href="https://store.steampowered.com/app/{{game.steam_id}}" class="text-decoration-none">{{game.game_title}}</a></h4>
        {% if game.base_price > 0 %}
        {% if game.base_price == game.current_price %}
        <p class="card-text text-center fw-bold p-lg-2">${{game.base_price}}</p>
        {% endif %}
        {% if game.base_price > game.current_price %}
        <p class="card-text text-center fw-bold p-lg-2 text-decoration-line-through">${{game.base_price}}</p>
        <p class="card-text text-center fw-bold p-lg-2">${{game.current_price}}</p>
        {% endif %}
        {% endif %}
        {% if game.current_price == 0 and game.release_date > today %}
        <p class="card-text text-center fw-bold p-lg-2">Unreleased</p>
        {% elif game.current_price == 0 %}
        <p class="card-text text-center fw-bold p-lg-2">Free To Play</p>
        {% else %}
        {% endif %}
        <div class="card-footer bg-transparent border-dark">
          <p class="card-title text-center p-lg-2">Release Date: {{game.release_date}}</p>
          {% if request.user.is_authenticated %}
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
              Add to list
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% for user_list in request.user.userlist_set.all %}
              <li><a class="dropdown-item" href="{% url 'add_to_list' list_id=user_list.list_id game_id=game.steam_id %}">{{ user_list.list_name }}</a></li>
              {% endfor %}
              <li><a class="dropdown-item fw-bold" href="{% url 'create_list' game_id=game.steam_id %}">Add to new list</a></li>
            </ul>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>

</center>
{% endblock %}
