<div class="col-md-6 mb-4 d-flex justify-content-center">
  <div class="card">
      <div class="remove-container position-relative remove-game-button">
        <a href="{% url 'remove_favorite_list' list_id=favorite_preview.list.list_id %}" class="btn btn-sm btn-link text-danger position-absolute top-0 end-0 mt-2 my-1 mx-2 rounded-circle" title="Remove List From Favorites">
          <i class="fas fa-times remove-game-x"></i>
        </a>
      </div>
    <div class="card-header">
      <strong><a href="{% url 'list_detail' list_id=favorite_preview.list.list_id %}">{{ favorite_preview.list.list_name }}</a></strong><br>
      <a href="{% url 'user_profile' user_id=favorite_preview.list.list_owner.id %}">{{ favorite_preview.list.list_owner.username }}</a>
    </div>
    <a href="{% url 'list_detail' list_id=favorite_preview.list.list_id %}">
      <div class="card-body">
        <p class="card-text text-center" id="game-count">{{ favorite_preview.game_count }} {% if favorite_preview.game_count == 1 %}game{% else %}games{% endif %}</p>
        <p class="card-text"><em>{{ favorite_preview.list.list_description }}</em></p>
        <hr>
        <div class="row">
          {% if favorite_preview.game_images|length == 1 %}
          <div class="col-12">
            <a href="{% url 'list_detail' list_id=favorite_preview.list.list_id %}">
              <img class="w-100 text-center list-images large-image" src="{{ favorite_preview.game_images.0.image_url }}" alt="Capsule image for {{ favorite_preview.game_images.0.game_title }}">
            </a>
          </div>
          {% elif favorite_preview.game_images|length == 2 %}
          {% for game_image in favorite_preview.game_images %}
          <div class="col-6">
            <a href="{% url 'list_detail' list_id=favorite_preview.list.list_id %}">
              <img class="w-100 text-center list-images large-image" src="{{ game_image.image_url }}" alt="Capsule image for {{ game_image.game_title }}">
            </a>
          </div>
          {% endfor %}
          {% else %}
          {% for game_image in favorite_preview.game_images|slice:":24" %}
          <div class="col-4">
            <a href="{% url 'list_detail' list_id=favorite_preview.list.list_id %}">
              <img class="w-100 text-center list-images" src="{{ game_image.image_url }}" alt="Capsule image for {{ game_image.game_title }}">
            </a>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </a>
  </div>
</div>