<div class="card">
  <div class="card-header">
    <strong class="list-name"><a href="{% url 'list_detail' list_id=list_preview.list.list_id user_id=list_preview.list.list_owner.id %}">{{ list_preview.list.list_name }}</a></strong><br>
    <a href="{% url 'user_profile' user_id=list_preview.list.list_owner.id %}">{{ list_preview.list.list_owner.username }}</a>
  </div>
  <div class="card-body list-description">
    <a href="{% url 'list_detail' list_id=list_preview.list.list_id user_id=list_preview.list.list_owner.id %}">
      {% if list_preview.game_count == 1 %}
      <p class="btn text-center card-text">{{list_preview.game_count}} game</p>
      {% else %}
      <p class="btn text-center card-text">{{list_preview.game_count}} games</p>
      {% endif %}
    </a>
    <hr>

    <div class="container">
      <div class="row d-flex justify-content-center game-img-height">
        {% if list_preview.game_images|length == 1 %}
        <div class="col-lg-8 col-md-12 col-sm-12">
          <a href="{% url 'list_detail' list_id=list_preview.list.list_id user_id=list_preview.list.list_owner.id %}">
            <img class="w-100 text-center list-images large-image my-4" src="{{ list_preview.game_images.0.image_url }}" alt="Capsule image for {{ list_preview.game_images.0.game_title }}">
          </a>
        </div>
        {% elif list_preview.game_images|length == 2 %}
        {% for game_image in list_preview.game_images %}
        <div class="col-lg-8 col-md-6 col-sm-4">
          <a href="{% url 'list_detail' list_id=list_preview.list.list_id user_id=list_preview.list.list_owner.id %}">
            <img class="w-100 text-center list-images large-image" src="{{ game_image.image_url }}" alt="Capsule image for {{ game_image.game_title }}">
          </a>
        </div>
        {% endfor %}
        {% elif list_preview.game_images|length == 3 %}
        {% for game_image in list_preview.game_images %}
        <div class="col-lg-8 col-md-6 col-sm-4">
          <a href="{% url 'list_detail' list_id=list_preview.list.list_id user_id=list_preview.list.list_owner.id %}">
            <img class="w-100 text-center list-images large-image" src="{{ game_image.image_url }}" alt="Capsule image for {{ game_image.game_title }}">
          </a>
        </div>
        {% endfor %}
        {% else %}
        {% for game_image in list_preview.game_images|slice:":6" %}
        <div class="col-sm-4 col-md-6 col-lg-6">
          <a href="{% url 'list_detail' list_id=list_preview.list.list_id user_id=list_preview.list.list_owner.id %}">
            <img class="w-100 text-center list-images" src="{{ game_image.image_url }}" alt="Capsule image for {{ game_image.game_title }}">
          </a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
