<div class="col-md-6 mb-4 d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      <strong class="list-name"><a href="{% url 'list_detail' list_id=favorite_preview.list.list_id user_id=favorite_preview.list.list_owner.id %}">{{ favorite_preview.list.list_name }}</a></strong><br>
      <a href="{% url 'user_profile' user_id=favorite_preview.list.list_owner.id %}">{{ favorite_preview.list.list_owner.username }}</a>
    </div>
    <a href="{% url 'list_detail' list_id=favorite_preview.list.list_id user_id=favorite_preview.list.list_owner.id %}">
      <div class="card-body">
        <p class="card-text text-center btn">{{ favorite_preview.game_count }} {% if favorite_preview.game_count == 1 %}game{% else %}games{% endif %}</p>
        <hr>
        <div class="container">
          <div class="row d-flex justify-content-center game-img-height">
            {% if favorite_preview.game_images|length == 1 %}
            <div class="col-lg-8 col-md-12 col-sm-12">
              <a href="{% url 'list_detail' list_id=favorite_preview.list.list_id user_id=favorite_preview.list.list_owner.id %}">
                <img class="w-100 text-center list-images large-image" src="{{ favorite_preview.game_images.0.image_url }}" alt="Capsule image for {{ favorite_preview.game_images.0.game_title }}">
              </a>
            </div>
            {% elif favorite_preview.game_images|length == 2 %}
            {% for game_image in favorite_preview.game_images %}
            <div class="col-lg-8 col-md-6 col-sm-4">
              <a href="{% url 'list_detail' list_id=favorite_preview.list.list_id user_id=favorite_preview.list.list_owner.id %}">
                <img class="w-100 text-center list-images large-image" src="{{ game_image.image_url }}" alt="Capsule image for {{ game_image.game_title }}">
              </a>
            </div>
            {% endfor %}
            {% elif favorite_preview.game_images|length == 3 %}
            {% for game_image in favorite_preview.game_images %}
            <div class="col-lg-8 col-md-6 col-sm-4">
              <a href="{% url 'list_detail' list_id=favorite_preview.list.list_id user_id=favorite_preview.list.list_owner.id %}">
                <img class="w-100 text-center list-images large-image" src="{{ game_image.image_url }}" alt="Capsule image for {{ game_image.game_title }}">
              </a>
            </div>
            {% endfor %}
            {% else %}
            {% for game_image in favorite_preview.game_images|slice:":6" %}
            <div class="col-sm-4 col-md-6 col-lg-6">
              <a href="{% url 'list_detail' list_id=favorite_preview.list.list_id user_id=favorite_preview.list.list_owner.id %}">
                <img class="w-100 text-center list-images" src="{{ game_image.image_url }}" alt="Capsule image for {{ game_image.game_title }}">
              </a>
            </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </a>
  </div>
</div>