{% extends 'rogueapp/base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'users' %}">Users</a></li>
  </ol>
</nav>
<div class="list-holder text-center">
  <h2 class="mb-4 collapsed" data-bs-toggle="collapse" data-bs-target="#all_users" title="Show/Hide">Users</h2>
  <div class="mb-4 row content show" id="all_users">
    {% for user in users %}
    <a href="{% url 'user_profile' user.id %}" class="btn m-2 w-25" title="{{user.username}}'s Profile">{{ user.username }}</a>
    {% endfor %}
  </div>
  <h2 class="mb-4 w-75 collapsed" data-bs-toggle="collapse" data-bs-target="#followers" title="Show/Hide">Top Followed Users</h2>
  <div class="mb-4 row content show" id="followers">
    {% for user in followed_users %}
    <a href="{% url 'user_profile' user.id %}" class="btn btn-primary m-2 w-50 text-center d-flex align-items-center text-white border-white">{{ user.username }}<span class="follow_count ms-auto text-white">{% if user.num_followers == 1 %}{{ user.num_followers}} follower{% else %}{{ user.num_followers }} followers{% endif %}</span></a>
    {% endfor %}
  </div>
</div>
{% endblock %}
