{% extends 'rogueapp/base.html' %}

{% block content %}
<h1>{{ user.username }}'s Profile</h1>
{% if request.user.is_authenticated %}
{% if request.user != user %}
    {% if is_following %}
        <form action="{% url 'unfollow' user.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Unfollow</button>
        </form>
    {% else %}
        <form action="{% url 'follow' user.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">Follow</button>
        </form>
    {% endif %}
{% endif %}
{% endif %}

<h2>Lists</h2>
<div class="container">
  <div class="row">
    <div class="row col-md-12">
      {% if user_lists %}
      {% for list_preview in list_previews %}
      {% include 'rogueapp/show_lists.html' %}
      {% endfor %}
    </div>
  </div>
</div>
{% else %}
<p>This user has no lists.</p>
{% endif %}

{% endblock %}
