{% extends 'rogueapp/base.html' %}

{% block content %}
<div class="container">
  <div class="container text-center">
    <h1>{{ user.username }}'s Profile</h1>
    <div class="row">
      <div class="col">
        <p>{{ follower_count }} followers</p>
      </div>
      <div class="col">
        <p>{{ followed_count }} followed</p>
      </div>
    </div>

    {% if request.user.is_authenticated %}
    {% if request.user != user %}
    {% if is_following %}
    <form action="{% url 'unfollow' user.pk %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary mb-4">Unfollow</button>
    </form>
    {% else %}
    <form action="{% url 'follow' user.pk %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary mb-4">Follow</button>
    </form>
    {% endif %}
    {% endif %}

    {% endif %}

    <div class="list-holder text-center" id="profile-flex">
      <h2 class="collapsed" data-bs-toggle="collapse" data-bs-target="#user-lists" title="Show/Hide">Lists</h2>
      <div id="user-lists" class="row content show">
        {% if user_lists %}
        <div class="row" id="list-flex">
          {% for list_preview in list_previews %}
          <div class="col-md-6 mb-4 d-flex justify-content-center">
            {% include 'rogueapp/show_lists.html' %}
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>This user has no lists.</p>
        {% endif %}
      </div>


      {% if request.user == user %}
      <h2 class="collapsed" data-bs-toggle="collapse" data-bs-target="#user-favorites" title="Show/Hide">Likes</h2>
      <div id="user-favorites" class="row content collapse show justify-content-center">
        {% if user_favorites %}
        {% for favorite_preview in favorite_list_previews %}
        {% include 'rogueapp/show_favorites.html' %}
        {% endfor %}
        {% else %}
        <p>This user has no liked lists.</p>
        {% endif %}
      </div>
      {% endif %}
      
    </div>
  </div>
</div>
{% endblock %}
