body {
  background-color: #f4f4f4;
}

#remove-game-button a {
  background-color: #f4f4f4 !important;
  color: #b00b0b !important;
  border: 1px solid #b00b0b;
}

#remove-game-button a:hover {
  background-color: #b00b0b !important;
  color: #f4f4f4 !important;
}

.home-previews {
  align-items: center !important;
}
